* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
}

div {
    flex-basis: 15%;
    flex-grow: 1;
    height: 33.33vh;
    border: solid 1px white;
}

@media (orientation: portrait) {
    div {
        flex-basis: 30%;
        height: 16.66vh;
    }
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.pink {
    background-color: pink;
}

.palegreen {
    background-color: palegreen;
}

.grey {
    background-color: grey;
}

.off {
    background-color: beige;
}

.hidden {
    background-color: black;
}

